USE [master]
GO
/****** Object:  Database [DataGame]    Script Date: 3/11/2020 11:09:20 AM ******/
CREATE DATABASE [DataGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVERRR\MSSQL\DATA\DataGame.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVERRR\MSSQL\DATA\DataGame_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataGame]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/11/2020 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID_Account] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[SĐT] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[Quyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/11/2020 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID_DanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID_DanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailsOrder]    Script Date: 3/11/2020 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailsOrder](
	[ID_CTDonHang] [int] IDENTITY(1,1) NOT NULL,
	[ID_SanPham] [int] NOT NULL,
	[ID_DonHang] [int] NOT NULL,
	[SoLuongMua] [int] NULL,
	[GiaBan] [int] NULL,
 CONSTRAINT [PK_ChiTiếtĐơnHàng] PRIMARY KEY CLUSTERED 
(
	[ID_CTDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/11/2020 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID_DonHang] [int] IDENTITY(1,1) NOT NULL,
	[ID_Account] [int] NULL,
	[Ngay] [date] NULL,
	[TongTien] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[ID_DonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/11/2020 11:09:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID_SanPham] [int] IDENTITY(1,1) NOT NULL,
	[ID_DanhMuc] [int] NULL,
	[TenSanPham] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MaSanPham] [nvarchar](50) NULL,
	[GiaGoc] [int] NULL,
	[Sale] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[Video] [nvarchar](max) NULL,
	[HinhAnhGame] [nvarchar](max) NULL,
	[HinhAnhGame1] [nvarchar](max) NULL,
	[HinhAnhGame2] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[MoTa1] [nvarchar](max) NULL,
	[MoTa2] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID_SanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID_Account], [UserName], [Password], [Name], [Address], [SĐT], [Email], [Quyen]) VALUES (1, N'ngoc.hnn', N'246246', N'Nhu Ngoc', N'255 Lạc Long Quân', 90777777, N'ngoc.hnn777@gmail.com', N'Admin')
INSERT [dbo].[Account] ([ID_Account], [UserName], [Password], [Name], [Address], [SĐT], [Email], [Quyen]) VALUES (2, N'anh.htm', N'357357', N'Mai Anh', N'274 Bình Thới', 90888888, N'anh.htm888@gmail.com', N'Admin')
INSERT [dbo].[Account] ([ID_Account], [UserName], [Password], [Name], [Address], [SĐT], [Email], [Quyen]) VALUES (3, N'tram.hkb', N'123456', N'Bích Trâm', N'278 Ngô Gia Tự', 90999999, N'tram.hkb999@gmail.com', N'Admin')
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID_DanhMuc], [TenDanhMuc]) VALUES (1, N'Nintendo Switch')
INSERT [dbo].[Categories] ([ID_DanhMuc], [TenDanhMuc]) VALUES (2, N'Game Nintendo Switch')
INSERT [dbo].[Categories] ([ID_DanhMuc], [TenDanhMuc]) VALUES (3, N'PlayStation 4')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[DetailsOrder] ON 

INSERT [dbo].[DetailsOrder] ([ID_CTDonHang], [ID_SanPham], [ID_DonHang], [SoLuongMua], [GiaBan]) VALUES (19, 1, 1, 1, 7690000)
INSERT [dbo].[DetailsOrder] ([ID_CTDonHang], [ID_SanPham], [ID_DonHang], [SoLuongMua], [GiaBan]) VALUES (21, 5, 1, 1, 1300000)
INSERT [dbo].[DetailsOrder] ([ID_CTDonHang], [ID_SanPham], [ID_DonHang], [SoLuongMua], [GiaBan]) VALUES (22, 8, 1, 1, 1350000)
SET IDENTITY_INSERT [dbo].[DetailsOrder] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID_DonHang], [ID_Account], [Ngay], [TongTien], [TrangThai]) VALUES (1, 5, CAST(N'2019-12-01' AS Date), NULL, 3)
INSERT [dbo].[Order] ([ID_DonHang], [ID_Account], [Ngay], [TongTien], [TrangThai]) VALUES (2, 6, CAST(N'2020-01-05' AS Date), NULL, 3)
INSERT [dbo].[Order] ([ID_DonHang], [ID_Account], [Ngay], [TongTien], [TrangThai]) VALUES (3, 7, CAST(N'2019-11-27' AS Date), NULL, 3)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
ALTER TABLE [dbo].[DetailsOrder]  WITH CHECK ADD  CONSTRAINT [FK_DetailsOrder_Order] FOREIGN KEY([ID_DonHang])
REFERENCES [dbo].[Order] ([ID_DonHang])
GO
ALTER TABLE [dbo].[DetailsOrder] CHECK CONSTRAINT [FK_DetailsOrder_Order]
GO
ALTER TABLE [dbo].[DetailsOrder]  WITH CHECK ADD  CONSTRAINT [FK_DetailsOrder_Product] FOREIGN KEY([ID_SanPham])
REFERENCES [dbo].[Product] ([ID_SanPham])
GO
ALTER TABLE [dbo].[DetailsOrder] CHECK CONSTRAINT [FK_DetailsOrder_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
USE [master]
GO
